
/* Report menu */
SPAN.reportRadioButton { 
    padding-left: 7px; 
    padding-right: 10px; 

	color: #979189;
}

INPUT.reportRadioButton { 
    margin-bottom:7px;
}

SPAN.reportRadioOption { 
    padding-left: 0px; 
}


